// variables to use in the other files

$std-offset: 32px;
$std-offset-small: $std-offset / 9;

$font-size-default: 1rem;
$font-size-small: $font-size-default * 0.7;
$font-size-medium: $font-size-default;
$font-size-large: $font-size-default * 1.3;

$color-red: red;
$color-light-grey: lightgrey;
$color-grey: grey;

$border-size: 1px;

$std-offset-md: 24px;
$std-offset-sd: 16px;
