// reset browser values

body {
    padding: var(--offset);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

input {
    padding: 0;
    line-height: $font-size-medium * 2;
    border: solid $border-size $color-grey;
    font-size: $font-size-medium;
}

button {
    line-height: $font-size-medium * 2;
    background-color: lightgrey;
    border: solid $border-size $color-grey;
    padding: 0 0.5rem;
    font-size: $font-size-medium;
}
