<!doctype html>
<html>
<head>
    <title>Zoopla Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div id="app">{{{body}}}</div>
</body>
<script src="js/index.min.js"></script>
</html>